/* body {
    background-image: url("https://i.postimg.cc/L83TZ9mM/Screenshot-from-2022-06-18-01-30-49.png");
    background-size : cover
} */


.vid {
    width : 1400px;
    height : 100%;
    position:fixed;
    z-index: -1;
    top : 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}